.default {
  --font-Roboto: "Roboto", sans-serif;
  --containerPadding: 0 6.613756613756613vw;
  --containerMarginTop: 9.920634920634921vw;
  --backgroundContainerPadding: 6.510416666666667vw 9.765625vw;
  --mobileContainerMarginTop: 16vw;
  --mobileContainerPadding: 0 6.4vw;
  --mobileBackgroundContainerPadding: 10.666666666666668vw 6.4vw;
  --borderRadius: 0.6613756613756614vw;
  --mobileBorderRadius: 2.666666666666667vw;
  --padding100: 6.613756613756613vw;
  --margin15: 0.992063492063492vw;
  --margin20: 1.3227513227513228vw;
  --margin30: 1.984126984126984vw;
  --margin70: 4.62962962962963vw;
  --margin100: 6.613756613756613vw;
  --gap70: 4.62962962962963vw;
  --gap20: 1.3227513227513228vw;
  --gap30: 1.984126984126984vw;
  --gap40: 2.6455026455026456vw;
  --gap50: 3.3068783068783065vw;
  --mainbgColor: #12171c;
  --bgColor: #0c1117;
  --font18: 1.1904761904761905vw;
  --font24: 1.5873015873015872vw;
  --font28: 1.8518518518518516vw;
  --lineHeight18: 1.6666666666666667vw;
  --lineHeight24: 2.2222222222222223vw;
  --lineHeight28: 2.169973544973545vw;
  --letterSpace18: 0.023809523809523808vw;
  --letterSpace24: 0.015873015873015872vw;
  --letterSpace28: 0.03703703703703704vw;
  --mfont16: 4.266666666666667vw;
  --mlineHeight16: 5.973333333333334vw;
  --mletterSpace16: 0.08533333333333333vw;

  --mfont12: 3.2vw;
  --mlineHeight12: 4.4799999999999995vw;
  --mletterSpace12: 0.4266666666666667vw;
  --mfont14: 3.733333333333334vw;
  --mlineHeight14: 5.226666666666667vw;
  --mletterSpace14: 0.4266666666666667vw;

  --mfont18: 4.8vw;
  --mlineHeight18: 5.624vw;
  --mletterSpace18: 0.4266666666666667vw;
}

.container {
  background-color: var(--bgColor);
  padding: var(--containerPadding);
  padding-top: 5.952380952380952vw;
  width: 100vw;
  display: grid;
  grid-template-columns: 40.27777777777778vw 24.669312169312168vw 18.51851851851852vw;
  grid-template-rows: 19.510582010582013vw 7.2751322751322745vw;
}

.heading {
  color: rgba(255, 255, 255, 0.6);
  font-size: var(--font18);
  line-height: var(--lineHeight18);
  letter-spacing: var(--letterSpace18);
  font-weight: 400;
  margin-bottom: var(--margin30);
}

.linksList{
  display: flex;
  flex-direction: column;
}

.text {
  color: rgba(255, 255, 255, 1);
  margin-bottom: var(--margin15);
  cursor: pointer;
}

.bottom {
  border-top: 0.06613756613756613vw solid rgba(255, 255, 255, 0.6);
  padding: 1.984126984126984vw 0 3.3068783068783065vw 0;
  grid-column: span 3;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.footerLogo {
  width: 11.904761904761903vw;
  height: 2.976190476190476vw;
}

@media only screen and (max-width: 767px) {
  .container {
    background-color: var(--bgColor);
    padding: 10.666666666666668vw 6.4vw 0 6.4vw;
    width: 100vw;
    display: grid;
    gap: 8vw;
    grid-template-rows: 28.5vw 42.5vw 15.2vw;
    grid-template-columns: 40.6666666667vw 40.6666666667vw;
  }

  .address {
    grid-column: span 2;
  }

  .heading {
    color: rgba(255, 255, 255, 0.6);
    font-size: var(--mfont12);
    line-height: var(--mlineHeight12);
    letter-spacing: var(--mletterSpace12);
    font-weight: 400;
    margin-bottom: 4vw;
  }

  .text {
    color: rgba(255, 255, 255, 1);
    margin-bottom: 2.666666666666667vw;
    font-size: var(--mfont14);
    line-height: var(--mlineHeight14);
    letter-spacing: var(--mletterSpace14);
    font-weight: 400;

  }

  .bottom {
    border-top: 0.26666666666666666vw solid rgba(255, 255, 255, 0.6);
    padding: 5.333333333333334vw 0 5.333333333333334vw 0;
    grid-column: span 2;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  .bottom p{
    font-size: var(--mfont12);
    line-height: var(--mlineHeight12);
    letter-spacing: var(--mletterSpace12);
    text-align: center;
    /* width: 100%; */
  }

  .footerLogo {
    display: none;
  }
}
