.defualt {
  --font-Roboto: "Roboto", sans-serif;
  --containerPadding: 0 6.613756613756613vw;
  --containerMarginTop: 9.920634920634921vw;
  --backgroundContainerPadding: 6.510416666666667vw 9.765625vw;
  --mobileContainerMarginTop: 16vw;
  --mobileContainerPadding: 0 6.4vw;
  --mobileBackgroundContainerPadding: 10.666666666666668vw 6.4vw;
  --borderRadius: 0.6613756613756614vw;
  --mobileBorderRadius: 2.666666666666667vw;
  --padding100: 6.613756613756613vw;
  --margin15: 0.992063492063492vw;
  --margin20: 1.3227513227513228vw;
  --margin30: 1.984126984126984vw;
  --margin70: 4.62962962962963vw;
  --margin100: 6.613756613756613vw;
  --gap70: 4.62962962962963vw;
  --gap20: 1.3227513227513228vw;
  --gap30: 1.984126984126984vw;
  --gap40: 2.6455026455026456vw;
  --gap50: 3.3068783068783065vw;
  --mainbgColor: #12171c;
  --bgColor: #0c1117;
  --font18: 1.1904761904761905vw;
  --font24: 1.5873015873015872vw;
  --font28: 1.8518518518518516vw;
  --lineHeight18: 1.6666666666666667vw;
  --lineHeight24: 2.2222222222222223vw;
  --lineHeight28: 2.169973544973545vw;
  --letterSpace18: 0.023809523809523808vw;
  --letterSpace24: 0.015873015873015872vw;
  --letterSpace28: 0.03703703703703704vw;
  --mfont16: 4.266666666666667vw;
  --mlineHeight16: 5.973333333333334vw;
  --mletterSpace16: 0.08533333333333333vw;

  --mfont12: 3.2vw;
  --mlineHeight12: 4.4799999999999995vw;
  --mletterSpace12: 0.4266666666666667vw;
  --mfont14: 3.733333333333334vw;
  --mlineHeight14: 5.226666666666667vw;
  --mletterSpace14: 0.4266666666666667vw;

  --mfont18: 4.8vw;
  --mlineHeight18: 5.624vw;
  --mletterSpace18: 0.4266666666666667vw;
}

.container {
  padding: var(--containerPadding);
  margin-top: var(--margin100);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container h2 {
  margin-bottom: var(--margin20);
}

.container2 {
  padding: var(--containerPadding);
  margin-top: var(--margin100);
}

.bgContainer {
  margin-top: var(--margin70);
  background: var(--bgColor);
  padding: 6.613756613756613vw 6.613756613756613vw 14.219576719576722vw
    6.613756613756613vw;
}

.bgContainer input::placeholder {
  font-size: 1.3227513227513228vw;
  line-height: 1.8518518518518516vw;
  letter-spacing: 0.026455026455026457vw;
  color: rgba(255, 255, 255, 0.4);
}

.bgContainer textarea::placeholder {
  font-size: 1.3227513227513228vw;
  line-height: 1.8518518518518516vw;
  letter-spacing: 0.026455026455026457vw;
  color: rgba(255, 255, 255, 0.4);
}

.bgContainer label {
  font-size: 1.3227513227513228vw;
  line-height: 1.8518518518518516vw;
  letter-spacing: 0.026455026455026457vw;
  color: rgba(255, 255, 255, 0.4);
}

.checkBoxs {
  display: flex;
  flex-direction: column;
}

.checkBoxs div {
  margin-top: var(--margin30);
  display: flex;
  gap: var(--gap30);
}

.checkBoxs label {
  display: flex;
  align-items: center;
}

.checkBoxs input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 0.06613756613756613vw solid #2b61f7;
  border-radius: 50%;
  width: 1.984126984126984vw;
  height: 1.984126984126984vw;
  margin-right: 0.6613756613756614vw;
  cursor: pointer;
  position: relative;
}

.checkBoxs input[type="checkbox"]:checked::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0.7936507936507936vw; /* Adjust as needed */
  height: 0.7936507936507936vw; /* Adjust as needed */
  background-color: #2b61f7;
  border-radius: 50%;
}

.textFields {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap50) var(--gap40);
  margin-top: 3.3068783068783065vw;
}

.textFields input {
  width: 35.44973544973545vw;
  background: transparent;
  border: none;
  padding-bottom: var(--margin30);
  border-bottom: 0.06613756613756613vw solid rgba(255, 255, 255, 0.6);
  transition: border-bottom 0.3s ease;
  outline: none;
  height: 3.835978835978836vw;
  font-size: 1.3227513227513228vw;
  line-height: 1.8518518518518516vw;
  letter-spacing: 0.026455026455026457vw;
}

.textFields input:-webkit-autofill,
.textFields input:-webkit-autofill:hover,
.textFields input:-webkit-autofill:focus,
.textFields input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #0c1117 inset !important; /* Set the background color you want */
}

.textFields input:focus {
  border-bottom: 0.06613756613756613vw solid rgba(255, 255, 255, 1);
}

.textFields textarea {
  width: 73.54497354497354vw;

  height: 9.788359788359788vw;
  background: transparent;
  border: none;
  border-bottom: 0.06613756613756613vw solid rgba(255, 255, 255, 0.6);
  outline: none;
}

.textFields textarea:focus {
  border-bottom: 0.06613756613756613vw solid rgba(255, 255, 255, 1);
}

.contactSection {
  padding: 7.605820105820106vw 6.613756613756613vw 0 var(--containerMarginTop);
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap40) 3.968253968253968vw;
}

.contactSection p {
  display: flex;
  align-items: center;
  gap: var(--gap20);
}

.icon {
  width: 3.968253968253968vw;
  height: 3.968253968253968vw;
}

.forButton {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin-top: 3.968253968253968vw;
}

@media only screen and (max-width: 767px) {
  .container {
    padding: var(--mobileContainerPadding);
    margin-top: calc(21.333333333333336vw + 21.333333333333336vw);
    gap: 2.666666666666667vw;
  }

  .container h2 {
    margin-bottom: 2.666666666666667vw;
    text-align: center;
  }

  .container2 {
    padding: var(--mobileContainerPadding);
    margin-top: 8vw;
  }

  .bgContainer {
    margin-top: 8vw;
    padding: 8vw 5.333333333333334vw;
  }

  .bgContainer label {
    font-size: var(--mfont14);
    line-height: var(--mlineHeight14);
    letter-spacing: var(--mletterSpace14);
    color: rgba(255, 255, 255, 0.4);
  }

  .bgContainer input::placeholder {
    font-size: var(--mfont14);
    line-height: var(--mlineHeight14);
    letter-spacing: var(--mletterSpace14);
    color: rgba(255, 255, 255, 0.4);
  }

  .bgContainer textarea::placeholder {
    font-size: var(--mfont14);
    line-height: var(--mlineHeight14);
    letter-spacing: var(--mletterSpace14);
    color: rgba(255, 255, 255, 0.4);
  }

  .checkBoxs {
    display: flex;
    flex-direction: column;
  }

  .checkBoxs div {
    margin-top: 8vw;
    display: flex;
    flex-wrap: wrap;
    gap: 4vw;
  }

  .checkBoxs label {
    display: flex;
    align-items: center;
  }

  .checkBoxs input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 0.26666666666666666vw solid #2b61f7;
    border-radius: 50%;
    width: 5.333333333333334vw;
    height: 5.333333333333334vw;
    margin-right: 2.666666666666667vw;
    cursor: pointer;
  }

  .checkBoxs input[type="checkbox"]:checked::before {
    width: 2.1333333333333333vw;
    height: 2.1333333333333333vw;
  }

  .textFields {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5.333333333333334vw;
    margin-top: 5.333333333333334vw;
  }

  .textFields label {
    display: flex;
    flex-direction: column;
    gap: 0vw;
  }

  .textFields input {
    width: auto;
    padding-bottom: 4vw;
    border-bottom: 0.26666666666666666vw solid rgba(255, 255, 255, 0.6);
    height: 9.333333333333334vw;
    font-size: var(--mfont14);
    line-height: var(--mlineHeight14);
    letter-spacing: var(--mletterSpace14);
  }

  .textFields textarea {
    width: auto;
    /* padding-bottom: 18.666666666666668vw; */
    height: 22.666666666666664vw;
    font-size: var(--mfont14);
    line-height: var(--mlineHeight14);
    letter-spacing: var(--mletterSpace14);
  }

  .contactSection {
    padding: 5.333333333333334vw 0;
    display: flex;
    flex-wrap: wrap;
    gap: 5.333333333333334vw;
  }

  .contactSection p:first-child {
    align-items: flex-start;
  }

  .contactSection p {
    display: flex;
    align-items: center;
    gap: 2.666666666666667vw;
  }

  .icon {
    width: 8vw;
    height: 8vw;
  }

  .forButton {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-top: 5.333333333333334vw;
  }
}
