@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --font-Roboto: "Roboto", sans-serif;
  --containerPadding: 0 6.613756613756613vw;
  --containerMarginTop: 9.920634920634921vw;
  --backgroundContainerPadding: 6.510416666666667vw 9.765625vw;
  --mobileContainerMarginTop: 16vw;
  --mobileContainerPadding: 0 6.4vw;
  --mobileBackgroundContainerPadding: 10.666666666666668vw 6.4vw;
  --borderRadius: 0.6613756613756614vw;
  --mobileBorderRadius: 2.666666666666667vw;
  --padding100: 6.613756613756613vw;
  --margin15: 0.992063492063492vw;
  --margin20: 1.3227513227513228vw;
  --margin30: 1.984126984126984vw;
  --margin70: 4.62962962962963vw;
  --margin100: 6.613756613756613vw;
  --gap70: 4.62962962962963vw;
  --gap20: 1.3227513227513228vw;
  --gap30: 1.984126984126984vw;
  --gap40: 2.6455026455026456vw;
  --gap50: 3.3068783068783065vw;
  --mainbgColor: #12171c;
  --bgColor: #0c1117;
  --font18: 1.1904761904761905vw;
  --font24: 1.5873015873015872vw;
  --font28: 1.8518518518518516vw;
  --lineHeight18: 1.6666666666666667vw;
  --lineHeight24: 2.2222222222222223vw;
  --lineHeight28: 2.169973544973545vw;
  --letterSpace18: 0.023809523809523808vw;
  --letterSpace24: 0.015873015873015872vw;
  --letterSpace28: 0.03703703703703704vw;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #12171c;
}

body::-webkit-scrollbar {
  width: 0rem;
}

body::-webkit-scrollbar-thumb {
  background-color: transparent;
}

h1 {
  font-size: 4.9603174603174605vw;
  font-weight: 400;
  line-height: 5.952380952380952vw;
  color: #fff;
  font-family: var(--font-Roboto);
  text-transform: capitalize;
  letter-spacing: 0.0496031746031746vw;
}

h2 {
  font-size: 3.1746031746031744vw;
  font-weight: 400;
  line-height: 3.7202380952380953vw;
  color: #fff;
  font-family: var(--font-Roboto);
  text-transform: capitalize;
  letter-spacing: 0.06349206349206349vw;
}

h3 {
  font-size: 2.1164021164021163vw;
  font-weight: 400;
  line-height: 2.4801587301587302vw;
  color: #fff;
  font-family: var(--font-Roboto);
  text-transform: capitalize;
  letter-spacing: 0.05026455026455026vw;
}

h4 {
  font-size: 1.1904761904761905vw;
  font-weight: 400;
  line-height: 1.6666666666666667vw;
  color: rgba(255, 255, 255, 0.6);
  font-family: var(--font-Roboto);
  text-transform: capitalize;
  letter-spacing: 0.023809523809523808vw;
}

h5 {
  font-size: 1.1904761904761905vw;
  font-weight: 400;
  line-height: 1.6666666666666667vw;
  color: #fff;
  font-family: var(--font-Roboto);
  text-transform: capitalize;
  letter-spacing: 0.023809523809523808vw;
}

p {
  font-size: 1.3227513227513228vw;
  font-weight: 400;
  line-height: 1.8518518518518516vw;
  color: rgba(255, 255, 255, 0.6);
  font-family: var(--font-Roboto);
  font-feature-settings: "liga" 0;
  letter-spacing: 0.026455026455026457vw;
}

span {
  color: #2b61f7;
  text-transform: capitalize;
}

.buttonText {
  font-size: 1.1904761904761905vw;
  font-weight: 400;
  line-height: 1.6666666666666667vw;
  font-family: var(--font-Roboto);
  font-feature-settings: "liga" 0;
}

a {
  text-decoration: none;
  font-size: 1.1904761904761905vw;
  font-weight: 400;
  line-height: 1.9047619047619049vw;
  color: rgba(255, 255, 255, 0.8);
  font-family: var(--font-Roboto);
  font-feature-settings: "liga" 0;
}

.linksText {
  font-weight: 400;
  color: #ffffff;
}

.active h4 {
  color: #96202a;
  font-weight: 400;
}

.active {
  color: #96202a;
  font-weight: 400;
}

.footerContent {
  font-size: 1.04vw;
  font-weight: 400;
}

.w-Auto {
  width: auto !important;
}

.whiteSpace {
  white-space: nowrap;
}

.btnContainer {
  height: 3.3203125vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6613756613756614vw;
  border-radius: 3.2552083333333335vw;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: border 0.3s ease;
  z-index: 2;
}

.btnContainer:hover {
  border: 0px solid transparent !important;
}

.btnContainer::before {
  position: absolute;
  content: "";
  background: #2b61f7;
  width: 33.06878306878307vw;
  height: 33.06878306878307vw;
  z-index: -1;
  border-radius: 50%;
}

.new::before {
  background: rgba(255, 255, 255, 0.3) !important;
}

.btnContainer:hover {
  color: white;
}

.btnContainer:before {
  top: 100%;
  left: 100%;
  transition: all 0.5s ease;
}

.btnContainer:hover::before {
  top: -6vw;
  left: -6vw;
}

.arrow {
  width: 0.7506613756613757vw;
  height: 0.7506613756613757vw;
  /* margin-bottom: 0.26455026455026454vw; */
}

.listHoverTop,
.listBottomHover {
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translate(-0%, -0%);
  transition: transform 0.6s ease;
}

.listHoverTop {
  transform: translate(0%, -0%);
}

.listHoverBottom {
  transition: transform 0.6s ease;
  transform: translate(0%, 250%);
}

.visibleWrapperContainer:hover .listHoverTop {
  transform: translate(0%, -250%);
}

.visibleWrapperContainer:hover .listHoverBottom {
  transform: translate(0%, 0%);
}

@media only screen and (max-width: 767px) {
  h1 {
    font-size: 8.533333333333333vw;
    font-weight: 600;
    line-height: 10.239999999999998vw;
    color: #02040e;
    font-family: var(--font-Jakarta);
    text-transform: capitalize;
  }

  h2 {
    font-size: 6.4vw;
    font-weight: 600;
    line-height: 7.680000000000001vw;
    color: #02040e;
    font-family: var(--font-Jakarta);
    text-transform: capitalize;
    padding: 0 !important;
    margin: 0;
    text-align: center;
    margin-bottom: 8vw;
  }

  h3 {
    font-size: 4.8vw;
    font-weight: 600;
    line-height: 5.973333333333334vw;
    color: #02040e;
    font-family: var(--font-Jakarta);
    text-transform: capitalize;
  }

  h4 {
    font-size: 3.2vw;
    font-weight: 400;
    line-height: 3.8400000000000003vw;
    color: #02040e;
    font-family: var(--font-Jakarta);
    text-transform: capitalize;
    padding: 1.3333333333333335vw 5.333333333333334vw !important;
    margin-bottom: 2.666666666666667vw;
  }

  h5 {
    font-size: 3.2vw;
    font-weight: 400;
    line-height: 3.8400000000000003vw;
    color: #02040e;
    font-family: var(--font-Jakarta);
    text-transform: capitalize;
    padding: 1.3333333333333335vw 5.333333333333334vw !important;
    margin-bottom: 2.666666666666667vw;
  }

  p {
    font-size: 3.2vw;
    font-weight: 400;
    line-height: 4.4799999999999995vw;
    font-family: var(--font-Jakarta);
    font-feature-settings: "liga" 0;
  }

  a {
    font-size: 3.733333333333334vw;
    font-weight: 400;
    line-height: 5.973333333333334vw;
    color: rgba(255, 255, 255, 0.8);
    font-family: var(--font-Jakarta);
    font-feature-settings: "liga" 0;
  }

  span {
    color: #11215b;
    text-transform: capitalize;
  }

  .buttonText {
    font-size: 3.733333333333334vw;
    font-weight: 400;
    line-height: 5.226666666666667vw;
    font-family: var(--font-Jakarta);
    font-feature-settings: "liga" 0;
    margin-right: 1.3333333333333335vw !important;
  }

  .rightArrow {
    width: 3.3333333333333335vw !important;
    height: 2.666666666666667vw !important;
  }

  .callIcon {
    width: 4vw !important;
    height: 3.5vw !important;
  }

  .btnContainer {
    width: 40vw !important;
    height: 10.666666666666668vw !important;
    border-radius: 13.333333333333334vw;
  }
}
