.default {
  --font-Roboto: "Roboto", sans-serif;
  --containerPadding: 0 6.613756613756613vw;
  --containerMarginTop: 9.920634920634921vw;
  --backgroundContainerPadding: 6.510416666666667vw 9.765625vw;
  --mobileContainerMarginTop: 16vw;
  --mobileContainerPadding: 0 6.4vw;
  --mobileBackgroundContainerPadding: 10.666666666666668vw 6.4vw;
  --borderRadius: 0.6613756613756614vw;
  --mobileBorderRadius: 2.666666666666667vw;
  --padding100: 6.613756613756613vw;
  --margin100: 6.613756613756613vw;
  --margin20: 1.3227513227513228vw;
  --margin30: 1.984126984126984vw;
  --margin70: 4.62962962962963vw;
  --gap70: 4.62962962962963vw;
  --gap20: 1.3227513227513228vw;
  --gap30: 1.984126984126984vw;
  --gap40: 2.6455026455026456vw;
  --gap50: 3.3068783068783065vw;
  --mainbgColor: #12171c;
  --bgColor: #0c1117;
  --font18: 1.1904761904761905vw;
  --font24: 1.5873015873015872vw;
  --lineHeight18: 1.6666666666666667vw;
  --lineHeight24: 2.2222222222222223vw;
  --letterSpace18: 0.023809523809523808vw;
}

.container {
  padding: var(--margin100);
  padding-bottom: 0;
  background: var(--bgColor);
  display: grid;
  grid-template-columns: 41.4021164021164vw 41.4021164021164vw;
  gap: var(--gap30);
  position: relative;
  top: 0;
  scroll-snap-type: y ;
}

.left {
  position: sticky;
  top: 6.613756613756613vw;
  height: 100vh;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: var(--gap50);
  height: calc(191.7989417989418vw + 80.359788vw);
  scroll-snap-type: y mandatory;
}

.card {
  padding: var(--gap50);
  background: var(--mainbgColor);
  scroll-snap-type: y ;
  scroll-snap-align: start;
  animation: fade-outt linear forwards;
  animation-timeline: view();
  animation-range: cover 75% cover 100%;
}

.imageContainer {
  width: 34.78835978835979vw;
  /* height: 26.455026455026452vw; */
  height: 20vw;
  margin-bottom: var(--margin30);
  position: relative;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* transform: scale(1); */
  /* animation: fade-out linear forwards;
  animation-timeline: view();
  animation-range: cover 60% cover 80%; */
  /* transition: all .8s ease; */
}

@keyframes img_key {
  0% {
    clip-path: polygon(50% 0, 50% 0, 50% 100%, 50% 100%);
  }
  100% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@keyframes fade-outt {
  100% {
    scale: 0.8;
  }
}

/* @keyframes fade-out {
  100% {
    transform: scale(0.85);
  }
} */
